name: Main

on:
  - push
  - pull_request

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 16
          cache: yarn
      - name: Lint and test
        run: |
          yarn install --frozen-lockfile
          yarn build
          yarn lint
          yarn prettier --check '**/*'
          yarn test
          yarn test:integration
