name: Main

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 16
          cache: yarn
      - run: |
          yarn install
          yarn lint
          yarn prettier --check '**/*'
  test:
    runs-on: ubuntu-latest
    env:
      CI: true
    strategy:
      fail-fast: false
      matrix:
        node-version: [16.x, 18.x, 20.x, 22.x, 24.x]
        eslint-version: [5, 6, 7, 8, 9]
        exclude:
          - node-version: 16.x
            eslint-version: 9
          # todo: currently v9 is failing due to a TypeScript check,
          #  but it does actually work at runtime
          - eslint-version: 9
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - run: |
          yarn install
          yarn add --dev eslint@${{ matrix.eslint-version }}
          yarn build
          yarn test
          yarn test:integration
