name: Main

on:
  - push
  - pull_request

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 16
          cache: yarn
      - run: |
          yarn install
          yarn lint
          yarn prettier --check '**/*'
  test:
    runs-on: ubuntu-latest
    env:
      CI: true
    strategy:
      fail-fast: false
      matrix:
        eslint-version: [5, 6, 7, 8, 9]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 16
          cache: yarn
      - run: |
          yarn install
          yarn add --dev eslint@${{ matrix.eslint-version }}
          yarn build
          yarn test
          yarn test:integration
